.badge-users:hover {
    background-color: #979797;
}

.btn-show {
    border: none;
    background-color: white;

}

.fontawesome-users {
    cursor: pointer;
    margin-left: 10px;
}

.fontawesome-organizations {
    cursor: pointer;
    margin-left: 10px;
}

